@import-normalize;
@import "helper";
*{
  margin: 0;
  padding: 0;
}

*{box-sizing: border-box}
*::before{box-sizing: border-box}
*::after{box-sizing: border-box}

ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
  color:inherit;
}

body{
  //所用字体
  font-family:$font-hei;
  //字体大小
  font-size: 16px;
  //行高
  line-height: 1.2;
  background: #f5f5f5;
}

button{
  font-family: inherit;
}
.icon{
  width: 1em;
  height: 1em;
  display: inline-block;
}